In [1]:
import pandas as pd

In [20]:
df_official = pd.read_csv('BGMOPEN1.csv')
df_104 = pd.read_csv('104_Tainan.csv')

## 資料預處理

### 當初爬蟲時，名稱前後各有一個空格，導致和官方資料比對失敗

In [ ]:
for i in range(len(df_104.index)):
    name = df_104.loc[i, "公司名稱"]
    df_104.loc[i, "公司名稱"] = name.replace(' ', '')
df_104.to_csv('104_Tainan.csv',index=False)

In [ ]:
col = df_104.loc[df_104['公司名稱'] == '啟昱科技有限公司']
print(col)

         公司名稱          產業類別   聯絡人          產業描述    電話    資本額    傳真 員工人數    地址  \
282  啟昱科技有限公司  電子通訊／電腦週邊批發業  暫不提供  電子通訊╱電腦週邊批發業  暫不提供  500萬元  暫不提供  20人  暫不提供

                         公司網址
282  http://www.chief-uni.com

In [ ]:
isOfficial = df_official.loc[df_official['營業人名稱'] == '啟昱科技有限公司']
if isOfficial.empty != 1:
        print(isOfficial)

                        營業地址      統一編號  總機構統一編號     營業人名稱      資本額     設立日期  \
1220664  臺南市新化區北勢里北勢１１３－７號１樓  54550001      NaN  啟昱科技有限公司  5000000  1021219

        組織別名稱 使用統一發票    行業代號           名稱     行業代號1          名稱1  行業代號2  名稱2  \
1220664  有限公司      Y  464211  電子器材、電子設備批發  464999.0  未分類其他機械器具批發    NaN  NaN

         行業代號3  名稱3
1220664    NaN  NaN

### 官方資料的地址裡，有時會有空格 (\u3000)，數字的格式也不同

In [97]:
isOfficial = df_official.loc[df_official['營業人名稱'] == '昱光能源股份有限公司']
index1 = isOfficial.index[isOfficial['營業人名稱'] == '昱光能源股份有限公司'].tolist()
print(isOfficial.loc[index1[0], '營業地址'])

from104 = df_104.loc[df_104['公司名稱'] == '昱光能源股份有限公司']
index2 = from104.index[from104['公司名稱'] == '昱光能源股份有限公司'].tolist()
print(from104.loc[index2[0], '地址'])

臺南市東　區崇文里崇德二十街４２號１樓
台南市永康區永大路二段

In [12]:
isOfficial = df_official.loc[df_official['營業人名稱'] == '大山肉舖']
index1 = isOfficial.index[isOfficial['營業人名稱'] == '大山肉舖'].tolist()
address = isOfficial.loc[index1[0], '營業地址']
print(address.split(' '))
isOfficial.loc[index1[0], '營業地址'] = address.replace('\u3000', '').replace(' ', '')
print(isOfficial.loc[index1[0], '營業地址'])

['臺中市北屯區平昌里北平路4段68號(東光市場第C72,C75攤位)']
臺中市北屯區平昌里北平路4段68號(東光市場第C72,C75攤位)

In [12]:
address = isOfficial.loc[index1[0], '營業地址']
print(address[13])
print(address[13] == '4')
print(ord(address[13])) # fullwidth digit "four" ascii code

４
False
65300

In [9]:
import unicodedata
address = unicodedata.normalize('NFKC', address)
print(address)

南投縣中寮鄉中寮村永平路371號一樓

In [10]:
for i in range(len(df_official.index)):
    address = df_official.loc[i, "營業地址"]
    address = unicodedata.normalize('NFKC', address)
    df_official.loc[i, "營業地址"] = address.replace('\u3000', '').replace(' ','')
df_official.to_csv('BGMOPEN1.csv',index=False)

### 把爬蟲下來的資料增加新的label，如:是否是政府登記(官方)、地址是否和官方一樣等

In [13]:
df_104.insert(10, "官方", None, True)
df_104

,公司名稱,產業類別,聯絡人,產業描述,電話,資本額,傳真,員工人數,地址,公司網址,官方
0,吳孟輯皮膚科診所,診所,吳先生,診所,06-2826655,200萬元,暫不提供,2人,台南市安南區安和路一段80號,NaN,None
1,上億通訊行,其他電信及通訊相關業,暫不提供,其他電信及通訊相關業,暫不提供,暫不提供,暫不提供,暫不提供,暫不提供,NaN,None
2,昱光能源股份有限公司,熱能供應業,柳小姐,再生能源產業,暫不提供,3250萬元,暫不提供,8人,台南市永康區永大路二段,NaN,None
3,阿賢工程有限公司,其他營造業,蔡先生,其他營造業,暫不提供,100萬元,暫不提供,5人,台南市東區小東里東興路298號1樓,https://m.facebook.com/AXianShiYe,None
4,揚霖開發有限公司,其他營造業,暫不提供,建築工程,暫不提供,暫不提供,暫不提供,5人,暫不提供,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...
2965,大嘉禾企業社,食品什貨批發業,王先生,食品什貨批發業,06-2022955,暫不提供,06-2022958,暫不提供,台南市永康區鹽行里正南三路146號,NaN,None
2966,FINOHAIRSALON_課里絲髮藝館,美髮業,周先生,美髮業,06-2811589,暫不提供,暫不提供,5人,台南市北區成德里和緯路2段153號1樓,NaN,None
2967,寶銳企業有限公司,建築及工程技術服務業,杜小姐,致力於低碳景觀環境之開發及服務,暫不提供,650萬元,06-2601594,10人,台南市東區崇善路390號,http://www.greenroof.com.tw/,None
2968,有邑家咖啡店,其他餐飲業,暫不提供,咖啡店，咖啡廳，飲料店業，精品咖啡，早午餐,暫不提供,30萬元,暫不提供,3人,暫不提供,NaN,None
2969,台南市私立聖佑正音數學短期補習班,補習班,暫不提供,補習班,暫不提供,暫不提供,暫不提供,暫不提供,暫不提供,NaN,None

In [14]:
df_104.insert(11, '地址相同', None, True)
df_104.insert(12, '資本額相同', None, True)

In [21]:
df_104 = df_104.rename({'資本額相同':'資本額誤差'}, axis=1)

In [22]:
df_104.to_csv('104_Tainan.csv',index=False)

### 爬蟲下來的資料，地址中的"台"跟會跟官方的"臺"不同，因此把爬蟲資料中的"台"換成"臺"

In [15]:
for i in range(len(df_104.index)):
    address = df_104.loc[i, "地址"]
    df_104.loc[i, "地址"] = address.replace('台', '臺')
df_104.to_csv('104_Tainan.csv',index=False)

In [18]:
address = df_104.loc[0, "地址"]
print(address[0:3])

臺南市

## 正式開始比對

### 用名稱搜尋，確認地址、資本額是否一樣

In [21]:
for i in range(len(df_104.index)):
    name = df_104.loc[i, "公司名稱"]
    address = df_104.loc[i, "地址"]
    capital = df_104.loc[i, '資本額']
    if("億" in capital and "萬元" not in capital):
        capital = capital.replace("億", "00000000")

    capital = capital.replace("萬元", "0000").replace("億", "")
    
    isOfficial = df_official.loc[df_official['營業人名稱'] == name]

    # 是官方
    if isOfficial.empty != 1:
        df_104.loc[i, '官方'] = 'Y'
        index = isOfficial.index[isOfficial['營業人名稱'] == name].tolist()

        # 若地址不同
        if(isOfficial.loc[index[0], '營業地址'] != address):
            address_official = isOfficial.loc[index[0], '營業地址']
            
            # 暫不提供
            if(address == '暫不提供'):
                df_104.loc[i, '地址相同'] = '無法判斷'

            # 縣市不相同
            elif(address[0:3] != address_official[0:3]):
                df_104.loc[i, '地址相同'] = '完全不同'
            
            # 詳細地址不同
            elif(address[4:] != address_official[4:]):
                df_104.loc[i, '地址相同'] = '縣市相同'
        
        # 若地址相同
        else:
            df_104.loc[i, '地址相同'] = '完全相同'
        
        # 若資本額不同
        if(str(isOfficial.loc[index[0], '資本額']) != capital):
            capital_official = str(isOfficial.loc[index[0], '資本額'])

            #暫不提供
            if(capital == "暫不提供"):
                df_104.loc[i, '資本額誤差'] = '無法判斷'

            #誤差五倍以內
            elif(abs(int(capital_official) - int(capital)) < 5 * int(capital_official)):
                df_104.loc[i, '資本額誤差'] = '誤差五倍以內'

            #誤差十倍以內
            elif(abs(int(capital_official) - int(capital)) < 10 * int(capital_official)):
                df_104.loc[i, '資本額誤差'] = '誤差十倍以內'

            #誤差十倍以上
            else:
                df_104.loc[i, '資本額誤差'] = '誤差十倍以上'
            
        # 若資本額誤差一倍以內
        else:
            df_104.loc[i, '資本額誤差'] = '完全相同'

    #非官方
    else:       
        df_104.loc[i, '官方'] = 'N'

In [23]:
df_104.to_csv('104_Tainan.csv',index=False)

In [24]:
#save sql database in mysql server
import mysql.connector
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqldb://root:@localhost:3306/company_analysis', echo = False)
df_104.to_sql(name = 'tainan_104', con = engine, if_exists = 'replace', index = False)

2970